body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

/* NAVBAR */

nav{
    background:black;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;
}

.logo{
    font-size:40px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:22px;
}

/* HERO */

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:70px;
    margin-bottom:30px;
}

.hero p{
    font-size:30px;
    max-width:900px;
    margin:auto;
}

/* BUTTONS */

.buttons{
    margin-top:40px;
}

button{
    padding:18px 35px;
    border:none;
    background:black;
    color:white;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
    margin:10px;
}

.secondary{
    background:#555;
}

/* STATUS */

.status-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

    padding:60px 20px;
}

.status-card{
    padding:20px 30px;
    color:white;
    border-radius:12px;
    font-size:20px;
    font-weight:bold;
}

.success{
    background:green;
}

.docker{
    background:#0db7ed;
}

.github{
    background:#333;
}

/* TOOLS */

.tools{
    text-align:center;
    padding:100px 20px;
}

.tools h2{
    font-size:50px;
}

.tool-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

    margin-top:50px;
}

.card{
    background:white;
    width:300px;
    padding:30px;
    border-radius:15px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
}

.card h3{
    font-size:30px;
}

/* FLOW */

.flow{
    background:#111;
    color:white;
    text-align:center;
    padding:100px 20px;
}

.flow h2{
    font-size:50px;
}

.flow-box{
    margin-top:50px;

    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

    font-size:28px;
}

/* SIMULATOR */

.simulator{
    text-align:center;
    padding:100px 20px;
}

.simulator h2{
    font-size:50px;
}

.simulator input{
    padding:18px;
    width:350px;
    font-size:18px;
    border-radius:10px;
    border:1px solid #ccc;
}

#output{
    background:black;
    color:white;

    width:70%;
    margin:auto;
    margin-top:40px;

    padding:30px;
    border-radius:15px;

    text-align:left;
    line-height:2;
    font-size:20px;
}

/* STATS */

.stats{
    background:#111;
    color:white;

    text-align:center;
    padding:100px 20px;
}

.stats h2{
    font-size:50px;
}

.stats-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

    margin-top:50px;
}

.stat-box{
    background:#222;
    width:250px;
    padding:40px;
    border-radius:15px;
}

.stat-box h1{
    color:#00bfff;
    font-size:60px;
}

/* FOOTER */

footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}